body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 25px;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
    font-size: 16px;
}

.contact-item i {
    font-size: 20px;
}

/* Official brand colors */
.fa-envelope {
    color: #d44638;   /* Gmail red */
}

.fa-github {
    color: #000000;
}

.fa-linkedin {
    color: #0a66c2;
}
